//blue
$blue: #0e68b2;
$blue-1: #1986c5;
$blue-2: #5ca3d3;
$blue-3: #92c0df;
$blue-4: #c6dced;
$blue-5: #dfeaf3;
$blue-6: #ecf1f5;

//black
$black: #000000;
$black-1: #323232;
$black-2: #646464;
$black-3: #959595;
$black-4: #c7c7c7;
$black-5: #e0e0e0;
$black-6: #f5f5f5;

//green
$green: #2e8e02;

//orange
$orange: #e0803d;

//white
$white: #ffffff;
$gradient-white: #D3D8E8;

$deloitteGreen: #86BC25;
$red: #DA291C;
$gray: #706E6B;
$gray-1: #D0D0CE;
$gray-2: #F7F7F7;
$grey-3: #dddbda;
$grey-4: #F4F5F7;
$blue-7: #0076A8;
$yellow: #FFCD00;
$purple-7: #2E001F;
$cardborder: rgba(128, 152, 213, 0.1);

/*Derived Colors*/
$primary-background-color: $black;
$primary-heading-color: $gray-1;
$primary-text-color: $gray;


$coral-green: #3ffac6;
$turquoise: #35f0ff;
$green-1: #00ABAB;
$green-2: #007680;
$orange-1: #ED8B00;
$sky-blue-1:#00A3E0;

