.pd-left-4 {
    padding-left: 4px;
}

.pd-left-8 {
    padding-left: 8px;
}

.pd-left-12 {
    padding-left: 12px;
}

.pd-left-16 {
    padding-left: 16px;
}

.pd-left-24 {
    padding-left: 24px;
}

.pd-left-32 {
    padding-left: 32px;
}

.pd-right-4 {
    padding-right: 4px;
}

.pd-right-8 {
    padding-right: 8px;
}

.pd-right-12 {
    padding-right: 12px;
}

.pd-right-16 {
    padding-right: 16px;
}

.pd-right-24 {
    padding-right: 24px;
}

.pd-right-32 {
    padding-right: 32px;
}

.pd-top-4 {
    padding-top: 4px;
}

.pd-top-8 {
    padding-top: 8px;
}

.pd-top-12 {
    padding-top: 12px;
}

.pd-top-16 {
    padding-top: 16px;
}

.pd-top-24 {
    padding-top: 24px;
}

.pd-top-32 {
    padding-top: 32px;
}

.pd-bottom-4 {
    padding-bottom: 4px;
}

.pd-bottom-8 {
    padding-bottom: 8px;
}

.pd-bottom-12 {
    padding-bottom: 12px;
}

.pd-bottom-16 {
    padding-bottom: 16px;
}

.pd-bottom-24 {
    padding-bottom: 24px;
}

.pd-bottom-32 {
    padding-bottom: 32px;
}


